body
{
	font-family: Fantasy;
	background: #D5FFC7;
	color: #000000;
	text-align: justify;
} /*body*/

h1
{
	color: #000000;
} /*h*/

img
{
    display: block;
    margin: auto;
    width: 20%;
	border-radius: 8px;
	border: 6px solid #7FFFD4;
	border-radius: 5px;
} /*body*/
